@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000;
}

.default-container-bg {
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

.nav-btn-custom:hover {
  transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
  background: rgb(193, 17, 25);
}

.custom-input {
  appearance: none;
  background-color: rgb(0 0 0 / 40%);
  border: 1px solid #ffff;
  border-radius: 0.5em;
  color: #ffff;
}

.custom-input:focus {
  outline: none;
  border-color: #ffff;
}

@media (min-width: 1280px) {
  .nav-custom {
    max-width: 90%;
  }
}
